:root {
    --color-background: #03071e;
    --color-first: #072ac8;
    --color-second: #ff220c;
    --color-third: #ffd60a;
    --color-text: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive, sans-serif;
    color: var(--color-text);
}

.background {
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/background.jpg);
    background-size: cover;
    background-position: 50%;
    display: flex;
    justify-content: center;
    animation: fadeIn 8s linear;
}

@keyframes fadeIn {
    0% {
        filter: brightness(0%) blur(30px);
    }

    10% {
        filter: brightness(30%) blur(15px);
    }
}

.containerButton {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    animation: scale2 10s linear;
}

@keyframes scale2 {
    from {
        transform: scale(0);
        filter: opacity(0);
    }

    to {
        transform: scale(1);
        filter: opacity(1);
    }
}

.containerButton img {
    width: 25rem;
    animation: translateImg 10s linear;
}

@keyframes translateImg {
    0% {
        translate: 500px 0;
    }

    100% {
        translate: 0 0;
    }
}

.containerButton .button {
    position: relative;
    padding: 10px 20px;
    background: black;
    font-size: 1rem;
    font-weight: 900;
    transition: .5s;
    margin: 25px;
    border: none;
    letter-spacing: 4px;
    border-radius: 5px;
    cursor: pointer;
}

.containerButton .buttonCharacters {
    animation: translateCharacters 10s linear;
}

@keyframes translateCharacters {
    0% {
        translate: -250px 0;
    }

    100% {
        translate: 0 0;
    }
}

.containerButton .buttonFilms {
    animation: translateFilms 10s linear;
}

@keyframes translateFilms {
    0% {
        translate: -500px 0;
    }

    100% {
        translate: 0 0;
    }
}

.buttonCharacters:hover {
    background-color: var(--color-first);
    color: #000000;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--color-first),
        0 0 25px var(--color-first),
        0 0 50px var(--color-first),
        0 0 100px var(--color-first);
}

.buttonFilms:hover {
    background-color: var(--color-second);
    color: #000000;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--color-second),
        0 0 25px var(--color-second),
        0 0 50px var(--color-second),
        0 0 100px var(--color-second);
}

.button span {
    position: absolute;
    display: block;
}

.button span:nth-child(1) {
    top: 0;
    left: -50%;
    width: 50%;
    height: 4px;
    animation: btn1 1s linear infinite;
}

.buttonCharacters span:nth-child(1) {
    background: linear-gradient(90deg, transparent, var(--color-first));
}

.buttonFilms span:nth-child(1) {
    background: linear-gradient(90deg, transparent, var(--color-second));
}

@keyframes btn1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 4px;
    height: 100%;
    animation: btn2 1s linear .25s infinite;
}

.buttonCharacters span:nth-child(2) {
    background: linear-gradient(180deg, transparent, var(--color-first));
}

.buttonFilms span:nth-child(2) {
    background: linear-gradient(180deg, transparent, var(--color-second));
}

@keyframes btn2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.button span:nth-child(3) {
    bottom: 0;
    right: -50%;
    width: 50%;
    height: 4px;
    animation: btn3 1s linear .5s infinite;
}

.buttonCharacters span:nth-child(3) {
    background: linear-gradient(270deg, transparent, var(--color-first));
}

.buttonFilms span:nth-child(3) {
    background: linear-gradient(270deg, transparent, var(--color-second));
}

@keyframes btn3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 4px;
    height: 100%;
    animation: btn4 1s linear .75s infinite;
}

.buttonCharacters span:nth-child(4) {
    background: linear-gradient(360deg, transparent, var(--color-first));
}

.buttonFilms span:nth-child(4) {
    background: linear-gradient(360deg, transparent, var(--color-second));
}

@keyframes btn4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

@media only screen and (max-width:768px) {
    @keyframes translateImg {
        0% {
            translate: 0 300px;
        }

        100% {
            translate: 0 0;
        }
    }

    @keyframes translateCharacters {
        0% {
            translate: 200px -375px;
        }

        100% {
            translate: 0 0;
        }
    }

    @keyframes translateFilms {
        0% {
            translate: -200px -375px;
        }

        100% {
            translate: 0 0;
        }
    }
}